*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}

#container{
    height: 200px;
    width: 400px;
    border: 2px solid #000;
    background-color: transparent;
    box-shadow: 10px 10px 20px lightseagreen;
}