*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(141, 227, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 350px;
    width: 300px;
    background-color: #fff;
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
} 

#container i {
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;   
    transition: all ease 0.5s;
}