*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 450px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: 2px 2px 10px #000;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#card h1{
    margin: 10px 0px;
    font-weight: 700;
}
#card h5{
    font-size: 25px;
    margin: 20px;
    color: red;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
}
